{% extends "base" %}
{% block title %}404{% endblock title %}
{% block content %}
<h1>{{lang.not_found_title}} - 404</h1>
<p class="error">
    {{lang.the_page}}{{path}}{{lang.was_not_found}}
</p>
{% endblock content %}
