<!DOCTYPE html>
<html lang="{{lang.lang_code}}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %} - Hnefatafl</title>
        {% block head %}{% endblock head %}
        {% block langChoose %}
        <script>
        function langChoose() {
            if (!window.localStorage.getItem('cookieAccept')) {
                const accept = confirm("{{lang.cookie_accept}}");
                if (accept) {
                    window.localStorage.setItem('cookieAccept', true);
                }else {
                    document.cookie = 'lang=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
                    return;
                }
            }
            {% block langChooseHandling %}
            document.cookie = `lang=${document.getElementById('langChoice').value}`;
            document.location.reload();
            {% endblock langChooseHandling %}
        }
        </script>
        {% endblock langChoose %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    </head>
    <body>
        <select class="position-absolute" style="top:0;right:0;" id="langChoice" onchange="langChoose()">
            {% for l in langs %}
            <option value='{{l.code}}' {% if l.code == lang.lang_code %}selected{% endif %}>{{l.name}}</option>
            {% endfor %}
        </select>
        {% block content %}{% endblock content %}
    </body>
</html>
